/* ===== DASHBOARD ROOT ===== */
.dashboard {
  all: unset;
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}

.dashboard-wrapper .dashboard {
  display: flex;
  height: 100vh;
 background: var(--card-bg);
color: var(--text-secondary);
}

/* ===== MAIN ===== */
.dashboard-wrapper .dashboard-main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== CONTENT ===== */
.dashboard-wrapper .dashboard-content {
   padding: 20px 20px;
  padding-bottom: 160px;
  padding-right: 20px;
}

/* ===== HEADER ===== */
.dashboard-wrapper .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dashboard-wrapper .actions {
  display: flex;
  flex-direction: row;   /* ensure horizontal */
  gap: 12px;
  align-items: center;
}

/* ===== BUTTONS ===== */
.dashboard-wrapper .primary-btn {
  background: #16a34a;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dashboard-wrapper .primary-btn:hover {
  background: #15803d;
  transform: translateY(-1px);
}

.dashboard-wrapper .dashboard-wrapper .secondary-btn {
  background: white;
  border: 1px solid #d1d5db;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
} 

/* ===== CARDS ===== */
.dashboard-wrapper .cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.dashboard-wrapper .card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.dashboard-wrapper .card:hover {
  transform: translateY(-5px);
}

.dashboard-wrapper .highlight {
  background: linear-gradient(135deg, #1E3A8A, #3B82F6);
  color: white;
}

/* ===== GRID ===== */
.dashboard-wrapper .dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 30px;
}

/* LEFT SIDE */
.left-panel {
  width: 100%;
}

/* RIGHT SIDE */
.right-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ===== ANALYTICS ===== */
.dashboard-wrapper .analytics {
  background: white;
  padding: 20px;
  border-radius: 14px;
}

.dashboard-wrapper .bars {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.dashboard-wrapper .bar {
  width: 30px;
  height: 80px;
  background: #E5E7EB;
  border-radius: 10px;
}

.dashboard-wrapper .bar.active {
  height: 120px;
  background: #10B981;
}